* {
  margin: 0;
  padding: 0;
}

:root {
  --light: #b0ebe8;
  --dark: #1b1b1b;
  --content: #151616;
}
.light-background {
  background-color: var(--light);
  color: var(--dark);
  display: inline;
}

.content-space {
  margin-top: 10px;
  margin-bottom: 30px;
}

body {
  background-color: #c9cad1;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--dark);
}
header {
  background-color: var(--dark);
  padding: 10px 20px 10px 0;
  display: flex;
  width: auto;
}

header img:hover {
  height: 99vh;
  width: auto;
  transition-duration: 0.5s;
  background-color: var(--dark);
}

header h1 {
  padding: 0 10px 0 30px;
}

header nav {
  flex: auto;
  margin-top: 13px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

header a {
  padding: 0 20px;
  margin: 0 3px;
  font-weight: normal;
  font-size: 18px;
  color: var(--light);
  text-decoration: none;
  border-bottom: 3px solid var(--light);
}

header a:hover {
  background: #5db4b0;
  color: var(--light);
  border-bottom: 3px solid rgba(20, 23, 35, 0.5);
  border-radius: 15px;
  text-shadow: none;
}

.hero {
    background-image: url("../images/LA-skyline.jpg");
    background-position: 50% 25%;
    background-size: auto;
    padding: 250px 40px 10px 0;
    display: flex;
    justify-content: flex-end;
    width: auto;
  }
  
  .hero h2 {
    display: flex;
    padding: 5px;
  }